# Discord Bot Configuration
TOKEN=MTQwMzgyMTQ3Nzk3OTA5OTE0Nw.GulgTU.TNNaWm8THTQVySi__uNFAjER_xD_oy7dndhI2I
DISCORD_CLIENT_ID=1403821477979099147
OWNER_IDS=1308227696400142417
PREFIX=&

# Genius API Key
GENIUS_API_KEY=

# GROQ (AI Model) API Key
GROQ_API_KEY=

# Google API KEY 
GOOGLE_API_KEY=

# MongoDB Configuration
MONGO_URI=

# Lavalink Configuration
LAVALINK_HOST=lava-v4.ajieblogs.eu.org
LAVALINK_PORT=443
LAVALINK_SECURE=true
LAVALINK_PASSWORD=https://dsc.gg/ajidevserver

# Webhook URL
WEBHOOK_URL=https://discord.com/api/webhooks/1373557392700215366/-GLxcWtixX8x6Xqey1TvUAx2s8crbZ8e88-MMWzPaa9YauhPZBHJI6TaAlbD372KjKkx
